<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Plans list</h3>

    <%= form_with url: plans_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find plan" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

    <%= link_to "Create a plan", new_plan_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
    <% @plans.each do |plan| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3 border m-1">
        <%= link_to plan_path(plan), class:"text-decoration-none" do %>
          <%= plan.name %>
          <%= link_to "Booking", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
