

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/stylesheets/components/_home.scss">
</head>
<body>
  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3 cover">
      <h3 class="mb-0 ">Plans list</h3>
      <%= link_to "Create a plan", new_plan_path, class: "btn btn-primary" %>
    </div>
    <div class="row">
      <% @plans.each do |plan| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3 text-center">
            <%= link_to plan_path(plan), class:"text-decoration-none" do %>
            <%= plan.name %>
          <div class= "img-plans">
          </div>
          <div class= "btn btn-primary">
            <%= link_to "Booking"%>
          </div>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
</body>
</html>

    <div class=" mb-5 mt-5 ">
      <h1 class="text center"> Pa donde pegamos?
      </h1>
    </div>


    <div class="container mx-auto">
      <div class="d-flex align-items-center justify-content-between mb-3 cover">
        <div class="position-absolute top-50 start-50 translate-middle">
        <%= link_to "Publica tu parche", new_plan_path, class: "btn btn-outline-light btn-lg" %>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
      <% @plans.each do |plan| %>
        <div class="col-lg-4">
          <div class="card h-100 d-flex justify-content-between" style="width: 21rem ">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Vista_de_la_Iglesia_del_Perpetuo_Socorro_al_centro_-_Medell%C3%ADn.JPG/275px-Vista_de_la_Iglesia_del_Perpetuo_Socorro_al_centro_-_Medell%C3%ADn.JPG" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title"><%= plan.name %></h5>
                  <p class="card-text"> <%= plan.description %></p>
                  <center>
                  <div class= "btn btn-primary mx-auto text-center text-decoration-none">
                    <%= link_to "Armemos parche", plan_path(plan), class:"text-decoration-none"%>
                  </div>
                  </center>



                  </div>
              </div>
        </div>
      <% end %>
      </div>
    </div>


