<div class="background-video">
    <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
      <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
    </video>
    <div class="container">
    <div class="row justify-content-center">
      <div class="card card-top" style="width: 35rem;">
        <div class="card-body">
          <div class="text-primary display-4 text-center">
            <%= @plan.name %>
          </div>
          <br>
          <div class="d-block fs-3">
            <strong> <%= "Description:" %> </strong> <%= @plan.description %>
          </div>
          <div class="d-block fs-3">
            <strong> <%= "Location:" %> </strong> <%= @plan.location %>
          </div>
          <div class="d-block fs-3">
            <strong> <%= "Category:" %> </strong> <%= @plan.category %>
          </div>
          <div class="d-block fs-3">
            <strong> <%= "Intensity:" %> </strong> <%= @plan.intensity %>
          </div>
          <div class="d-block fs-3">
            <strong> <%= "Starts:" %> </strong> <%= @plan.starting_time %>
          </div>
          <div class="d-block fs-3">
            <strong> <%= "Ends:" %> </strong> <%= @plan.finish_time %>
          </div>
          <br>
          <div class="d-flex ">
            <% if current_user.present? %>
              <% if current_user.id == @plan.user_id %>
                <%= button_to "Delete plan", plan_path(@plan), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary m-1" %>
                <%= link_to "Edit", edit_plan_path(@plan), class: "btn btn-primary m-1" %>
              <% end %>
              <%= link_to "Booking", new_plan_booking_path(@plan), class: "btn btn-primary m-1" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="height:246px"></div>
